<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graffiti</title>
    <style>
      *
      {
        margin: 0;
        padding: 0;
      }
      #coordinates {
          position: fixed;
          bottom: 10px;
          right: 10px;
      }
      #pixel_color{
          position: fixed;
          bottom: 10px;
          left: 10px;
      }
    </style>
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    <div>
      <input type="color" id="pixel_color" name="Color" value="#ffffff"/>
    </div>

    <div id="coordinates">Mouse X: 0, Mouse Y: 0</div>
    
    <img id="wall" src="static/wall.png" border="0", style="width: 100vw; image-rendering: pixelated;"></img>
    
    <script>
        const coordinatesDiv = document.getElementById('coordinates');

        document.addEventListener('mousemove', function(event) {
            const x = event.clientX;
            const y = event.clientY;
            coordinatesDiv.textContent = `Mouse X: ${x}, Mouse Y: ${y}`;
        });

        document.addEventListener('click', function(event) {
          pixelcolor = document.getElementById('pixel_color').value
          fetch("/", {
            method: "POST",
            body: JSON.stringify({
              x: event.clientX,
              y: event.clientY,
              color: pixelcolor
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8"
            }
          // This needs to be improved, but works for now
          // Waits for 200 ms after sending POST before reloading page
          // Might want to consider a different aproach in the future
          }).then(
            setTimeout(function(){
              location.reload();
          }, 2000));

        });
        </script>

  </body>
</html>
